    <div class="container">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
            <a class="nav-link active" href="#">Answer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" type="hidden" href="/sessions/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Quora</h3>
  <!-- A Form for users to ask questions -->
      <div class="main-display">
        <div class="display-content">
          <h1>Your Questions</h1>
          <% @questions.each do |q| %>
            <p><%= q.text %>  </p>
          <% end %>
  
      <div class="display-form">
        <form action="/questions" method="post">
          <input placeholder="Ask question here" type="text" name="user_input">
          <input type="submit" value="Ask Questions" style="height:40px">
        </form>
      </div>
      </div>
      </div>
</div>


















<!-- <div class="home-page">
  <nav class="navbar nav-style">
  <div class="container">
    <a class="navbar-brand" href="#">Quora</a>
  </nav>

  <div class="signup-page">
    <div class="form">
      <div class="success-form">
        <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
        <div class="success-content">
          <p>I'm at my Home Page</p>
        </div>
        <a href="/">Sign out</a>
      </div>
    </div>
  </div>

</div>
</div> -->
