<div class="main-bg">
<div class="signup-page">
  <div class="form">
    <form class="register-form" method="POST" action="/users">
        <h2>Sign up</h2>
          <input type=text class="form-control" placeholder="Email" name="email">
          <input type=text class="form-control" placeholder="Username" name="user_name">
          <input type=password class="form-control" placeholder="Password" name="password">
          <input class="btn btn-default btn-md button" type=submit value="Sign up" href="/success" style="height:50px;">
    </form>
  </div>
</div>
</div>
