<div class="main-bg">
<div class="signup-page">
  <div class="form">
    <div class="success-form">
      <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
      <div class="success-content">
        <p>Registration Successful</p>
        <a href="/">Return to homepage</a>
      </div>
    </div>
  </div>
</div>
</div>




<!-- <h2>Login</h2>
<form method=post action=/form>
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Login">
</form> -->
